body {
    font-family: 'Raleway', sans-serif;
    color: white;
    background-color: #D7B899 ;
}

.lattemndy {
    display: flex;
    width: 100%;
    height: 100%;
    background-color : #A67B5B;
    margin-top : 10px;
    margin-left : 15px;
    
}

.lattemndy h1 {
    padding : 10px;
}
